.photo-page {
  margin-top: 10px;
  margin-bottom: 10px;

  h1 {
    font-size: 2.5em;
    font-family: 'Avenir', 'Helvetica', 'Arial', serif;
    //font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-top: 1em;
    margin-bottom: 0.25em;
    text-align: center;
  }

  h3 {
    font-size: 1.5em;
    font-family: 'Avenir', 'Helvetica', 'Arial', serif;
    //font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-top: 1em;
    margin-bottom: 0.5em;
    text-align: center;
  }

  img {
    width: 100% !important;
    margin: 0 auto;
    display: block;
  }

  .stretch-container-16 {
    margin: -16px;
    margin-top: 100px;
  }

  .center-item {
    text-align: center;
  }
}
