.wedding-party-page {
  //font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;

  h1 {
    font-size: 3em;
    font-weight: normal;
    //font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    //font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    //font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-family: "Avenir", "Helvetica", "Arial", serif;
  }

  section {
    //margin: 3em auto;
    margin-bottom: 3em;
    //margin: 0;

    &:first-child {
      margin: 0;
      //margin-top: 0px;
      //margin-bottom: 0px;
    }

    &.centered {
      text-align: center;
    }
  }

  img {
    width: 100% !important;
    margin: 0 auto;
    display: block;
  }

  .picture-body {
    font-family: "Avenir", "Helvetica", "Arial", serif;
    min-width: 200px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
    font-size: 20px;
  }

  .desmond-zoom-box {
    overflow: hidden;

    img {
      max-width: 100%;
      transition: all 0.4s;
      display: block;
      width: 100%;
      height: auto;
      transform: scale(1);
    }

    &:hover img {
      transform: scale(8) translate(14%, 17%);
    }

    // &:hover img {
    //   animation-duration: 2.5s;
    //   animation-name: changewidth;
    //   animation-iteration-count: infinite;
    //   animation-direction: normal;
    // }

    // @keyframes changewidth {
    //   0% {
    //     transform: scale(1);
    //   }
    
    //   15% {
    //     transform: scale(8) translate(14%, 17%);
    //   }
    
    //   40% {
    //     transform: scale(8) translate(14%, 17%);
    //   }

    //   100% {
    //       transform: scale(1);
    //   }
    // }
  }
}
