.home-page {

  h2 {
    font-size: 1.5em;
  }

  section {
    margin: 3em auto;

    &:first-child {
      margin-top: 0;
    }

    &.centered {
      text-align: center;
    }

    //p {
    //  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    //}
  }

  form {
    margin-bottom: 1em;

    input {
      outline: none;
      border-bottom: 1px dotted #999;
    }
  }

  span.at-prefix {
    color: black;
    margin-left: 0.4em;
  }

  img {
    width: 100% !important;
    margin: 0 auto;
    display: block;
  }

  .stretch-container-16 {
    margin: -16px;
  }
}
