.home-page {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

  h1 {
    font-size: 3em;
    margin-bottom: -.5em;
    font-weight: normal;
    //font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    //font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  }

  section {
    margin: 3em auto;

    &:first-child {
      margin-top: 0;
    }

    &.centered {
      text-align: center;
    }
  }

  img {
    width: 100% !important;
    margin: 0 auto;
    display: block;
  }

  .stretch-container-16 {
    margin: -16px;
  }

  .picture-body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    min-width: 200px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
    font-size: 24px;
  }
}
