.home-page {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

  h1 {
    font-size: 3em;
    font-weight: normal;
    //font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    //font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  }

  section {
    //margin: 3em auto;
    margin-bottom: 3em;
    //margin: 0;

    &:first-child {
      margin: 0;
      //margin-top: 0px;
      //margin-bottom: 0px;
    }

    &.centered {
      text-align: center;
    }
  }

  img {
    width: 100% !important;
    margin: 0 auto;
    display: block;
  }

  .stretch-container-16 {
    margin: -16px;
  }

  .picture-body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    min-width: 200px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
    font-size: 24px;
  }

  .webkit-test {
    text-transform: uppercase;
    font-size: 48px;
    margin: 20px 0 0px 0;
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .text-test {
    display: flex;
    justify-content: center;
    margin-top: 15vh;
    transform: translateY(-50%);
    // margin: 250px auto;
    text-align: center;
    // border: 1px solid #000;
    transition: transform .3s ease-in-out;

    &:hover {
      transform: rotateX(35deg), translateY(-50%);
      span {
        color: #ccc;
        &:nth-child(odd) {
          transform: skewY(15deg);
          // background-color: #f00;
          // box-shadow: 0 60px 20px rgba(0,0,0,0.1);
        }
        &:nth-child(even) {
          transform: skewY(-15deg);
          background-color: #f9f9f9;
          color: #a6a6a6;
          // box-shadow: 0 60px 20px rgba(0,0,0,0.1);
        }
      }
    }

    > span {
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
      font-size: 26px;
      display: block;
      background-color: #fff;
      width: 65px;
      height: 65px;
      line-height: 65px;
      transition: transform .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
      box-shadow: 0 40px 50px rgba(0,0,0,0.1);
      &:first-child {
        border-radius: 5px 0 0 5px;
      }
    }
  }
}
